---
pagination:
  data: members
  size: 1
  alias: member
permalink: "member/{{ member.id }}.html"
layout: layout.njk
title: "{{ member.firstName }} {{ member.lastName }} | USFBD"
description: "Member details for {{ member.firstName }} {{ member.lastName }}"
---

<main class="member-page">

  {% logo "/" %}

  <section class="loading show">Loading...</section>

  <section class="logged-out">
    <h1>Please <a href="/">log in</a></h1>
  </section>

  <section class="logged-in">
    <h1 class="member-name">{{ member.name }}</h1>

    <section class="member-section">
      <h2>Your Info <span class="jp" lang="jp">自己情報</span></h2>
      <table class="table-2 no-header">
        <tr>
          <td>Member Number <span class="jp" lang="jp">発行番号</span></td>
          <td>{{ member.id }}</td>
        </tr>
        <tr>
          <td>Name <span class="jp" lang="jp">氏名</span></td>
          <td>{{ member.name }}</td>
        </tr>
        <tr>
          <td>Current Rank <span class="jp" lang="jp">段位称号</span></td>
          <td class="current-rank">
            {{ member.currentRank }} <span class="jp" lang="jp">{{ member.currentRank | jpRank }}</span>
            {% if member | isEligibleToTest %}
              <span class="eligible">Eligible for next rank! Talk to your sensei</span>
            {% endif %}
          </td>
        </tr>
        <tr>
          <td>Joined <span class="jp" lang="jp">発行年月日</span></td>
          <td>
            {% if member.joined %}
              {{ member.joined | fuzzydate }}
            {% else %}
              <span class="no-data" lang="jp">不詳の年月日</span>
            {% endif %}
          </td>
        </tr>
        <tr>
          <td>Dojo <span class="jp" lang="jp">所属</span></td>
          <td>
            {% if dojos[member.dojo] %}
              <a href="{{ dojos[member.dojo] }}" target="_blank">{{ member.dojo }}</a>
            {% elif member.dojo %}
              {{ member.dojo }}
            {% else %}
              <span class="no-data" lang="jp">無名の所</span>
            {% endif %}
            </td>
        </tr>
        <tr>
          <td>Active <span class="jp" lang="jp">成員</span></td>
          <td>
            {% if member.isActive %}
              <span class="active-member">Yes</span>
            {% else %}
              <span class="inactive-member">No <a class="dues" href="https://www.usbattodo.com/membership" target="_blank">(pay dues here)</a></span>
            {% endif %}
            </td>
        </tr>
      </table>
    </section>

    <section class="member-section">
      <h2>Rank History <span class="jp" lang="jp">審査合格記録</span></h2>
      <table class="table-2">
        <tr>
          <th>Rank <span class="jp" lang="jp">段位</span></th>
          <th>Date <span class="jp" lang="jp">年月日</span></th>
        </tr>
        {% for rank in member.ranks %}
          <tr>
            <td>{{ rank.name }} <span class="jp" lang="jp">{{ rank.name | jpRank }}</span></td>
            <td>
              {% if rank.date %}
                {{ rank.date | fuzzydate }}
              {% else %}
                <span class="no-data" lang="jp">不詳の年月日</span>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </section>

    <section class="member-section">
      <h2>Seminar History <span class="jp" lang="jp">講習会受講記録</span></h2>
      <table class="table-4">
        <tr>
          <th>Seminar <span class="jp" lang="jp">講習</span></th>
          <th>Date <span class="jp" lang="jp">年月日</span></th>
          <th>Location <span class="jp" lang="jp">場所</span></th>
          <th>Instructor <span class="jp" lang="jp">先生</span></th>
        </tr>
        {% for seminar in member.seminars %}
          <tr>
            <td>{{ seminar.name }}</td>
            <td>
              {% if seminar.date %}
                {{ seminar.date | fuzzydate }}
              {% else %}
                <span class="no-data" lang="jp">不詳の年月日</span>
              {% endif %}
            </td>
            <td>
              {% if seminar.location %}
                {{ seminar.location }}
              {% else %}
                <span class="no-data" lang="jp">無名の所</span>
              {% endif %}
            </td>
            <td>
              {% if seminar.instructor %}
                {{ seminar.instructor }}
              {% else %}
                <span class="no-data" lang="jp">無名の先生</span>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </section>

    <section class="member-section">
      <h2>Taikai History <span class="jp" lang="jp">大会会受講記録</span></h2>
      <table class="table-4">
        <tr>
          <th>Name <span class="jp" lang="jp">大会</span></th>
          <th>Date <span class="jp" lang="jp">年月日</span></th>
          <th>Location <span class="jp" lang="jp">場所</span></th>
          <th>Wins <span class="jp" lang="jp">勝利</span></th>
        </tr>
        {% for t in member.taikai %}
          <tr>
            <td>{{ t.name }}</td>
            <td>
              {% if t.date %}
                {{ t.date | fuzzydate }}
              {% else %}
                <span class="no-data" lang="jp">不詳の年月日</span>
              {% endif %}
            </td>
            <td>
              {% if t.location %}
                {{ t.location }}
              {% else %}
                <span class="no-data" lang="jp">無名の所</span>
              {% endif %}
            </td>
            <td>
              {% if t.wins.length %}
                {{ t.wins | formatTaikai | safe }}
              {% else %}
                <span class="no-data" lang="jp">全敗</span>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </section>

    <section class="feedback">
      See anything missing? <a href="https://docs.google.com/forms/d/e/1FAIpQLSfGN4R41Q5AUwHjtIaZSOkP76FifkXFFxFWwqjzZV9xi1tFhA/viewform?usp=header" target="_blank">Get in touch!</a>
      <span class="jp jp-regular">間違えたものを見れば、<a href="https://docs.google.com/forms/d/e/1FAIpQLSfGN4R41Q5AUwHjtIaZSOkP76FifkXFFxFWwqjzZV9xi1tFhA/viewform?usp=header" target="_blank">フィードバックくれていただけませんか。</a></span>
    </section>

    <button id="logout-btn" class="large-button" type="button">Log Out</button>
  </section>
</main>
