body {
  font-family: 'Nunito Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

h1 {
  font-weight: 200;
  font-size: 3.052rem;
}

h2, h3, h4 {
  font-weight: 700;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.25rem;
}

a,
a:visited {
  color: #11038b;
  text-decoration: none;
}

.loading {
  visibility: hidden;
  height: 0;
}

.loading.show {
  visibility: visible;
  height: auto;
}

.logged-in {
  visibility: hidden;
  height: 0;
}

.logged-in.show {
  visibility: visible;
  height: auto;
}

.logged-out {
  visibility: hidden;
  height: 0;
}

.logged-out.show {
  visibility: visible;
  height: auto;
}
