{{ layout "layouts/base.vto" }}

{{ setMetadata('title', '404') }}

<main class="not-found-page">
  <a href="/">
    <img class="seven-samurai" src="/seven-samurai.png" />
  </a>
  <h1>404 Not Found</h1>
  <a href="/">Go back to the main page.</a>
</main>