---
layout: layout.njk
permalink: 404.html
title: 404 | US Federation of Battodo
---

<main class="not-found-page">
  <a href="/">
    <img class="seven-samurai" src="/assets/img/seven-samurai.png" />
  </a>
  <h1>404 Not Found</h1>
  <a href="/">Go back to the main page.</a>
</main>
