---
layout: layout.njk
---

<main class="home">
  {% logo "https://www.usbattodo.com/" %}

  <h1>Membership Booklet</h1>

  <form id="login-form" class="logged-out">
    <input name="attempts" type="hidden" class="login-attempts" />
    <label>
      <span class="left-label">
        Member Number
        <span class="jp" lang="jp">発行番号</span>
      </span>
      <input name="id" type="number" />
    </label>

    <label>
      <span class="left-label">
        Last Name
        <span class="jp" lang="jp">苗字</span>
      </span>
      <input name="name" type="text" />
    </label>

    <button type="submit" class="large-button login-btn">Log In</button>

    <aside class="error1">Sorry, we can't find you! Please enter your member number and last name and try again.</aside>
    <aside class="error2">Sorry, we still can't find you! Please <a href="mailto:{{ email }}?subject=Error logging in&body=Member number: $1 Last name: $2" target="_blank">email us</a> for assistance.</aside>
  </form>

  <section class="logged-in">
    <span>Go to your <a href="/404.html">member page</a></span>

    <button type="button" class="large-button logout-btn">Log Out</button>
  </section>
</main>
