---
layout: layout.njk
---

<main class="home">
  {% include 'logo.njk' %}

  <h1>Membership Booklet</h1>

  <form id="login-form" class="logged-out">
    <label>
      Member Number
      <input name="id" type="number" />
    </label>

    <label>
      Last Name
      <input name="name" type="text" />
    </label>

    <button type="submit" class="login-btn">Log In</button>
  </form>

  <section class="logged-in">
    <span>Go to your <a href="/404.html">member page</a></span>

    <button type="button" class="logout-btn">Log Out</button>
  </section>
</main>
