---
pagination:
  data: members
  size: 1
  alias: member
permalink: "{{ member.id }}.html"
layout: layout.njk
title: "{{ member.firstName }} {{ member.lastName }} | USFBD"
description: "Member details for {{ member.firstName }} {{ member.lastName }}"
---

<main class="member-page">

  {% include 'logo.njk' %}

  <section class="loading show">Loading...</section>

  <section class="logged-out">
    <h1>Please <a href="/">log in</a></h1>
  </section>

  <section class="logged-in">
    <h1 class="member-name">{{ member.name }}</h1>

    <section class="member-section">
      <h2>Your Info <span class="jp">自己情報</span></h2>
      <table class="table-2 no-header">
        <tr>
          <td>Member Number <span class="jp">発行番号</span></td>
          <td>{{ member.id }}</td>
        </tr>
        <tr>
          <td>Name <span class="jp">氏名</span></td>
          <td>{{ member.name }}</td>
        </tr>
        <tr>
          <td>Current Rank <span class="jp">段位称号</span></td>
          <td class="current-rank">
            {{ member.currentRank }} <span class="jp">{{ member.currentRank | jpRank }}</span>
            {% if member | isEligibleToTest %}
              <span class="eligible">Eligible for next rank! Talk to your sensei</span>
            {% endif %}
          </td>
        </tr>
        <tr>
          <td>Joined <span class="jp">発行年月日</span></td>
          <td>{{ member.joined | fuzzydate }}</td>
        </tr>
        <tr>
          <td>Dojo <span class="jp">所属</span></td>
          <td>
            {% if dojos[member.dojo] %}
              <a href="{{ dojos[member.dojo] }}" target="_blank">{{ member.dojo }}</a>
            {% else %}
              {{ member.dojo }}
            {% endif %}
            </td>
        </tr>
      </table>
    </section>

    <section class="member-section">
      <h2>Rank History <span class="jp">審査合格記録</span></h2>
      <table class="table-2">
        <tr>
          <th>Rank <span class="jp">段位</span></th>
          <th>Date <span class="jp">年月日</span></th>
        </tr>
        {% for rank in member.ranks %}
          <tr>
            <td>{{ rank.name }} <span class="jp">{{ rank.name | jpRank }}</span></td>
            <td>{{ rank.date | fuzzydate }}</td>
          </tr>
        {% endfor %}
      </table>
    </section>

    <section class="member-section">
      <h2>Seminar History <span class="jp">講習会受講記録</span></h2>
      <table class="table-3">
        <tr>
          <th>Seminar <span class="jp">講習</span></th>
          <th>Date <span class="jp">年月日</span></th>
          <th>Instructor <span class="jp">先生</span></th>
        </tr>
        {% for seminar in member.seminars %}
          <tr>
            <td>{{ seminar.name }}</td>
            <td>{{ seminar.date | fuzzydate }}</td>
            <td>{{ seminar.instructor }}</td>
          </tr>
        {% endfor %}
      </table>
    </section>

    <section class="member-section">
      <h2>Taikai History <span class="jp">大会会受講記録</span></h2>
      <table class="table-3">
        <tr>
          <th>Name <span class="jp">大会</span></th>
          <th>Date <span class="jp">年月日</span></th>
          <th>Wins <span class="jp">勝利</span></th>
        </tr>
        {% for t in member.taikai %}
          <tr>
            <td>{{ t.name }}</td>
            <td>{{ t.date | fuzzydate }}</td>
            <td>{{ t.wins | formatTaikai | safe }}</td>
          </tr>
        {% endfor %}
      </table>
    </section>

    <section class="feedback">
      See anything missing? <a href="mailto:hi@nelson.codes?subject=Member {{ member.id }} missing info" target="_blank">Email us!</a>
      <span class="jp jp-regular">間違えたものを見れば、<a href="mailto:hi@nelson.codes?subject=Member {{ member.id }} missing info" target="_blank">メールくれていただけませんか。</a></span>
    </section>
  </section>
</main>
